body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.FirstPart {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: 7.5cm;
  width: 100%;
  height: 10.8cm;
  background-image: url(./images/CardBgImage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 8px;
}

.FirstPart-TopHeader {
  display: flex;
  flex: 1 1 100%;
  height: 20px;
  width: 100%;
  margin-bottom: 8px;
}

.FirstPart-TopHeader__firstBlock {
  background: #471010;
  width: 40px;
  height: 20px;
  flex-shrink: 0;
}

.FirstPart-TopHeader__centralBlock {
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #471010 1px solid;
  border-bottom: #471010 1px solid;
  min-width: 0;
}

.Russian-Federation {
  font-weight: 700;
  font-size: 10px;
  min-width: 190px;
  text-align: center;
  color: #471010;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Times New Roman", Times, serif;
}

.FirstPart-TopHeader__secondlBlock {
  background: #471010;
  max-width: 100%;
  height: 20px;
  font-family: "Times New Roman", Times, serif;
}

.FirstPart-BotHeader {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: #471010;
  margin-bottom: 8px;
}

.SecondPart {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  max-width: 7.5cm;
  width: 100%;
  height: 10.8cm;
  background-image: url(./images/CardBgImage.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2px;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 16px;
  padding-bottom: 8px;
}

.FirstPart-form-container {
  display: flex;
  flex-direction: column;
}

.FirstPart-BotHeader__txt {
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #471010;
}

.FirstPart-form-group {
  display: flex;
  gap: 6px;
  margin-right: 20px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.FirstPart-Strength {
  display: flex;
  gap: 6px;
  margin-right: 20px;
  margin-bottom: 2px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.FirstPart-registry_number {
  margin-bottom: 0px;
  padding-right: 20px;
  display: flex;
  gap: 6px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
  align-items: center;
  height: auto;
}

.FirstPart-VIN {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: auto;
}

.FirstPart-category {
  margin-bottom: 0;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 6px;
  padding-right: 20px;
  box-sizing: border-box;
}

.STS-label {
  all: initial;
  font-size: 15px !important;
  /* white-space: nowrap !important; */
  color: #000000;
  font-family: "Times New Roman", Times, serif !important;
}

.STS_form_input {
  all: initial;
  font-size: 12px !important;
  border: 1px solid #000000 !important;
  background: none;
  height: 12px !important;
  min-width: 0;
  flex: 1;
  padding: 0 !important;
}

.FirstPart-form-pass {
  display: flex;
  gap: 6px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: o;
}

.FirstPart-form-passSeria {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.FirstPart-form-passId {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  min-width: 70px;
}

.FirstPart-form-DL {
  display: flex;
  gap: 6px;
  box-sizing: border-box;
  padding-right: 20px;
}

.SecondPart-header {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.SecondPart-header_firstCont {
  height: 20px;
  width: 65px;
  background: #471010;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SecondPart-header_Cont {
  display: flex;
  align-items: center;
  height: 30px;
}
.SecondPart-header_secondCont {
  height: 30px;
  width: 110px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.SecondPart-DLWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: #471010;
  margin-bottom: 4px;
  font-family: "Times New Roman", Times, serif;
}

.STS-textarea {
  all: initial;
  background: none;
  font-size: 14px !important;
  border: 1px solid #000000 !important;
  height: 40px !important;
}

.SecondPart-Owner {
  display: flex;
  flex-direction: column;
}

.SecondPart-FormWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  box-sizing: border-box;
  width: 100%;
  gap: 6px;
}

.SecondPart-Republic {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 100%;
}

.SecondPart-formItem {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
  gap: 6px;
}

.SecondPart-house {
  display: flex;
  gap: 6px;
  flex-wrap: nowrap;
}

.SecondPart-date {
  display: flex;
  gap: 6px;
  margin-left: 30%;
}

@media (max-width: 350px) {
  .FirstPart-TopHeader__firstBlock {
    width: 30px;
  }
  .FirstPart-TopHeader__secondlBlock {
    width: 60px;
  }
  .FirstPart-TopHeader__secondlBlock img {
    width: 60px;
    height: 20px;
  }
}

@media (max-width: 280px) {
  .FirstPart {
    height: auto;
  }
  .SecondPart {
    height: auto;
  }
  .SecondPart-header_secondCont {
    display: none;
  }
  .FirstPart-TopHeader__secondlBlock {
    width: 20px;
  }
  .FirstPart-TopHeader__secondlBlock img {
    width: 20px;
    height: 20px;
  }
  .FirstPart-registry_number {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    width: 100%;
  }
  .FirstPart-category {
    flex-direction: column;
  }
  .FirstPart-Strength {
    flex-direction: column;
    height: auto;
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-start;
  }
  .FirstPart-form-pass {
    flex-direction: column;
  }
  .SecondPart-date {
    margin-left: 0;
  }
}
